.portion1 {
	margin-top: 3%;
	width: 100%;
	float: left;
	border: 2px solid black;
	h2 {
		margin-left: 6.5%;
	}
	.box {
		width: 13px;
		height: 13px;
		background-color: yellow;
		margin-top: 2.5%;
		margin-left: 7%;
	}
	.part {
		width: 34%;
		height: 360px;
		float: left;
		margin: 0 auto 3% 2%;
		border: 2px solid black;
		img {
			float: left;
			width: 150px;
			height: 150px;
			border: 2px solid white;
			margin: 4% auto auto 5%;
			border: 1px solid white;
		}
		.paragraph {
			width: 40%;
			float: left;
			margin-left: 2%;
			margin-top: 63px;
			border: 2px solid black;
			@media (max-width: 1090px) {
				margin-top: 0px;
			}
			h4 {
				font-weight: bold;
			}
		}
	}
}
